@font-face {
  font-family: 'KingHwa_OldSong';
  src: local('KingHwa_OldSong'), local('京华老宋'), local('KingHwaOldSong');
  font-display: swap;
}

@font-face {
  font-family: 'zihun266hao-shenshihei';
  src: url('/font/5c92f08e461aa1553133710.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'root-title-font';
  src: url('/font/字魂266号-绅士黑.ttf?v=2') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'zihun266';
  src: local('zihun266'), local('字魂266号-标智黑体'), local('ZiHun266');
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Sans';
  src: local('Source Han Sans CN'), local('Source Han Sans SC'), local('思源黑体');
  font-display: swap;
}
